# Build artifacts
build/
.pio/
**/.pio/
**/build/

# IDEs / Editors
.vscode/
.idea/
*.code-workspace

# ESP-IDF / PlatformIO configs gerados
sdkconfig
sdkconfig.old

# Sistema / SO
.DS_Store
Thumbs.db

# Arduino
**/*.ino.cpp
**/*.eep
**/*.elf
**/*.hex
**/*.bin
**/*.map
